@charset "UTF-8";
/**************************************************    Page accueil       ********************************************************/
/************************************************       Page de présentation        **************************************************************/
/******************************************  Animation à l'entrée du site  ********************************************************/
@keyframes pictureIntro {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PopUp {
  0% {
    scale: 0;
  }
  8% {
    scale: 1;
  }
  90% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/****************************************  Animation en page de présentation    *************************************************/
@keyframes borderAnimate {
  0% {
    width: 0;
    height: 0;
    border-top-color: rgb(39, 201, 216);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: rgb(39, 201, 216);
    border-right-color: rgb(39, 201, 216);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: rgb(39, 201, 216);
    border-right-color: rgb(39, 201, 216);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderAnimate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(39, 201, 216);
  }
  50% {
    width: 0%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(39, 201, 216);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(39, 201, 216);
  }
}
/***************************************************         Header       ********************************************************/
@keyframes pulseHeader {
  from {
    box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
  }
  to {
    box-shadow: 0 0 0 45px rgba(3, 149, 229, 0);
  }
}
/*site ou je l'ai trouvé https://web-eau.net/blog/15-animations-css-vraiment-bluffantes*/
/*Définition des paramètres généraux*/
/*Positionnement de l'animation*/
.animation--principale::before, .animation--principale::after, .animation--principale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/***************************************************    Cadre       **************************************************************************/
.animation--principale {
  z-index: 3;
  transform: rotate(45deg);
  width: 200px;
  height: 200px;
  margin: auto;
  color: rgb(39, 201, 216);
  border: 2px solid rgb(39, 201, 216);
  box-shadow: -1px 2px 15px 3px rgba(39, 201, 216, 0.7) inset;
}
.animation--principale::before, .animation--principale::after {
  content: "";
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 7s linear infinite;
}
.animation--principale::before {
  animation-delay: -3.5s;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
/********************************************         Image dans le cadre        **************************************************************/
.animation__picture {
  position: absolute;
  top: 39px;
  left: 40px;
  width: 130px;
  transform: rotate(-45deg);
}

/******************************************************     Polices     *************************************************************************/
@font-face {
  font-family: "street_credregular";
  src: url("../font/street-creed/street_cred-webfont.woff2") format("woff2"), url("../font/street-creed/street_cred-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "arcregular";
  src: url("../font/arc/arc_regular-webfont.woff2") format("woff2"), url("../font/arc/arc_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aukim";
  src: url("../font/aukim/aukimcondensed-webfont.woff2") format("woff2"), url("../font/aukim/aukimcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "darmstadt";
  src: url("../font/darmstadt/darmstadt_arts-webfont.woff2") format("woff2"), url("../font/darmstadt/darmstadt_arts-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*******************************************************                ****************************************************************************/
/************************************************************  Paramètres généraux  *****************************************************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1 {
  color: white;
}

.BackgroundPict {
  background-image: url("../picture/circuit_imprime.jpg");
}

/**************************************************   Paramètres généraux pour la page de présentation      *****************************************/
.baseText h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px -8px 60px -8px;
  background: rgba(15, 15, 15, 0.9254901961);
  font-family: "arcregular", verdana, arial, helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
}

.baseText h2 {
  font-size: 32px;
  color: rgb(231, 109, 27);
  margin-bottom: 30px;
}

.baseText p {
  font-family: "aukim", verdana, arial, helvetica, sans-serif;
  color: white;
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

ul {
  font-family: "aukim", verdana, arial, helvetica, sans-serif;
  color: white;
  text-align: justify;
  font-size: 18px;
  line-height: 25px;
}

.interligneTitre {
  margin-top: 90px;
}

/*****************************************************      Résolution téléphone       ***************************************************/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .baseText h2 {
    margin-top: 50px;
  }
  .baseText h1 {
    font-size: 40px;
    margin-top: -75px;
    margin-bottom: 40px;
    line-height: 32px;
  }
}
/*********************************************************  Page d'introduction    ***********************************************************/
#intro {
  animation: pictureIntro 27s forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -8px;
  background-image: url("../picture/planete.jpg");
  z-index: 4;
}

#arrowNext {
  position: absolute;
  top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.cardIntro {
  animation: PopUp 23.5s 0.7s forwards;
  scale: 0;
  width: 550px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 35%;
  background-color: rgba(14, 14, 14, 0.925);
  border-radius: 25px 25px 15px 15px;
  border: 1px groove rgb(39, 201, 216);
  box-shadow: -1px 2px 15px 3px rgba(39, 201, 216, 0.7) inset;
}
.cardIntro .cardIntro--bonjour {
  animation: FadeIn 4s 3s;
  animation-iteration-count: 1;
  scale: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(14, 14, 14, 0);
  box-shadow: 0px 0px 0px 0px rgba(148, 30, 30, 0.3) inset;
  border: 0px solid blue;
  text-align: center;
  font-family: "street_credregular", verdana, arial, helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  opacity: 0;
  font-size: 80px;
  top: 60px;
}
.cardIntro .cardIntro--bienvenu {
  animation: FadeIn 5.5s 7s;
  animation-iteration-count: 1;
  scale: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(14, 14, 14, 0);
  box-shadow: 0px 0px 0px 0px rgba(148, 30, 30, 0.3) inset;
  border: 0px solid blue;
  text-align: center;
  font-family: "street_credregular", verdana, arial, helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  opacity: 0;
  position: relative;
  font-size: 50px;
  top: 25px;
  line-height: 80px;
}
.cardIntro .cardIntro--curiculum {
  animation: FadeIn 4s 12.5s;
  animation-iteration-count: 1;
  scale: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(14, 14, 14, 0);
  box-shadow: 0px 0px 0px 0px rgba(148, 30, 30, 0.3) inset;
  border: 0px solid blue;
  text-align: center;
  font-family: "street_credregular", verdana, arial, helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  opacity: 0;
  font-size: 50px;
}
.cardIntro #resolution {
  animation: FadeIn 7s 16.5s;
  animation-iteration-count: 1;
  scale: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(14, 14, 14, 0);
  box-shadow: 0px 0px 0px 0px rgba(148, 30, 30, 0.3) inset;
  border: 0px solid blue;
  text-align: center;
  font-family: "street_credregular", verdana, arial, helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  opacity: 0;
  font-size: 40px;
  top: -10px;
  line-height: 50px;
}

/*********************************************************  Page d'acceuil    */
.blocAccueil {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -8px;
  display: flex;
  background-color: rgb(0, 0, 0);
}

.presentation, .portfolio {
  width: 50%;
  overflow: hidden;
}
.presentation__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
.presentation__img:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  cursor: pointer;
  transition: opacity 2s 0.1s, transform 3s 0.1s;
}
.presentation__title h1 {
  font-size: 60px;
  font-family: "arcregular", verdana, arial, helvetica, sans-serif;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 5%;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
.portfolio__img:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  cursor: pointer;
  transition: opacity 2s 0.1s, transform 3s 0.1s;
}
.portfolio__title h1 {
  font-size: 60px;
  font-family: "arcregular", verdana, arial, helvetica, sans-serif;
  text-shadow: rgb(39, 201, 216) 1px 0px 10px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  right: 5%;
}

/*******************************************        Résolution à 1000px et en dessous     *******************************************************/
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cardIntro--bonjour {
    top: 0px;
    font-size: 60px !important;
  }
  .presentation__title h1 {
    top: 5%;
  }
  .portfolio__title h1 {
    top: 69%;
  }
  .presentation__img {
    width: initial;
  }
  .portfolio__img {
    -o-object-fit: initial;
       object-fit: initial;
  }
}
@media screen and (min-width: 901px) and (max-width: 1300px) {
  .presentation__title h1 {
    top: 5%;
  }
  .presentation__img {
    width: initial;
  }
  .portfolio__img {
    -o-object-fit: initial;
       object-fit: initial;
  }
}
/**********************************************       Résolution pour téléphone        ***********************************************************/
@media screen and (min-width: 320px) and (max-width: 600px) {
  #intro {
    background-image: url("../picture/planete_phone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cardIntro {
    width: 300px;
  }
  .cardIntro--bonjour {
    top: 0px;
    font-size: 60px !important;
  }
  .cardIntro--bienvenu {
    font-size: 30px !important;
    line-height: 60px !important;
    top: 45px !important;
  }
  .cardIntro--curiculum {
    font-size: 40px !important;
    top: 50px !important;
    line-height: 60px !important;
  }
  #resolution {
    font-size: 26px !important;
    top: 0px !important;
  }
  .presentation__title h1 {
    font-size: 40px;
    left: 7%;
    top: 8%;
  }
  .portfolio__title h1 {
    font-size: 40px;
    right: 7%;
    top: 75%;
  }
  .presentation__img, .portfolio__img {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */
