/******************************************  Animation à l'entrée du site  ********************************************************/

//Animation de l'image en introduction  
@keyframes pictureIntro {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
     
}

//Animation du cadre bleu souhaitant la bienvenu
@keyframes PopUp {
    0% { scale: 0; }
    8% { scale: 1; }
    90% { scale: 1; }
    100% { scale: 0;}
}

//Animation du texte dans le cadre
@keyframes FadeIn {
    0% { opacity: 0; }
    60% {opacity: 1;}
    100% { opacity: 0; }
}




/****************************************  Animation en page de présentation    *************************************************/

//Animation pour le header
@keyframes borderAnimate {
    0% {
        width: 0;
        height: 0;
        border-top-color: $color-pr;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: $color-pr;
        border-right-color: $color-pr;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: $color-pr;
        border-right-color: $color-pr;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes borderAnimate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $color-pr;
    }
    50% {
        width: 0%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $color-pr;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $color-pr;
    }
}



/***************************************************         Header       ********************************************************/

//Pour faire animer les div en header
@keyframes pulseHeader {
    from { box-shadow: 0 0 0 0 rgba(3,149,229,.4) }
    to { box-shadow: 0 0 0 45px rgba(3,149,229,0) }           
}